.collection-hero__inner {
  display: flex;
  flex-direction: column;
  position: relative;
}
.collection-hero__inner:after {
  content: '';
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
  position: absolute;
}
.collection-hero__text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  font-size: 0;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
   
    overflow: hidden;
  }

 
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 2.5rem 0;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__title {
  margin: 0;
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container img {
  max-width: 100%;
  object-fit: cover;
  min-width: 100%;
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    
    align-self: stretch;
    flex: 1 0 50%;
    min-height: 20rem;
    max-height: 40rem;
    overflow: hidden;
  }
}
.scroll-to-product {
  background: var(--gradient-background);
  width: 6rem;
  height: 6rem;
  position: absolute;
  z-index: 1;
  bottom: 0;
  color: #fff;
  padding: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 90% 80% 90% 90%/76% 70% 100% 90%;
  left: 50%;
  transform: translateX(-50%);
}