.pagination-wrapper {
  margin-top: 4rem;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination__list > li {
  flex: 1 0 4.4rem;
  max-width: 4.4rem;
}

.pagination__list > li:not(:last-child) {
  margin-right: 1rem;
}
.customer .customer-content .pagination__item,
.pagination__item {
  text-decoration: none;
  color: rgb(var(--color-button-text));
  background: rgb(var(--color-button));
  width: 4rem;
  display: flex;
  height: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 90% 80% 90% 90%/76% 70% 100% 90%;
}

a.pagination__item:hover::after {
  height: 0.1rem;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.customer .customer-content .pagination__item:hover,
.customer .customer-content .pagination__item--current,
.pagination__item--current,
.pagination__item:hover {
  color: rgb(var(--color-secondary-button-text));
  background: rgb(var(--color-secondary-button));
}

.pagination__item--next .icon {
  margin-left: -0.2rem;
  transform: rotate(90deg);
}

.pagination__item--next:hover .icon {
  transform: rotate(90deg) scale(1.07);
}

.pagination__item--prev .icon {
  margin-right: -0.2rem;
  transform: rotate(-90deg);
}

.pagination__item--prev:hover .icon {
  transform: rotate(-90deg) scale(1.07);
}

.pagination__item-arrow:hover::after {
  display: none;
}
